.idea/
identifiers.csv
uids.csv
data/
classifier/model/
brain_CT/
breast_CT/
classifier/scaler.pkl
others/
privacy/
data_king/
data_mamta/
multiple_nodules/
Methodist_incidental/
LUNA16/
.DS_Store
dataLoader/__pycache__/
exp.py
plots/
